.nav {
  color: black;
  text-transform: uppercase;

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__item {
    padding: 7px 20px;
    margin: 0 22px;
    border-radius: 10px;

    &_active {
      background-color: $active-color;
      cursor: pointer;
    }
  }

  &__link {
    color: $default-text-color;
    text-decoration: none;
    transition: color $hover-duration;

    &:hover {
      color: $active-color;
    }
  }
}

@media (max-width: $small-screen-offset) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
}
