html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  list-style: none;
  border-width: 0;
}

//a {
//  color: white;
//  text-decoration: none;
//}

//p:first-child,
//p:last-child {
//  margin: 0;
//}

h1 {
  margin: 0;
}
