$c-gray: #eee;
$active-color: #d5d5aa;
$highlight-color: #00aaef;
$highlight-hover-color: #2f80ed;
$hover-duration: 0.2s;
$logo-height: 76px;
$logo-width: 115px;
$default-text-color: white;
$small-screen-offset: 1024px;
